.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttons-container {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.buy-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
}

.buy-button:hover {
  background-color: #ffc6c6;
  filter: drop-shadow(0 0 3px #000000a4);
}

.buy-button img {
  margin-bottom: 10px;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .buttons-container {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .buy-button {
    height: 100px;
  }

  .buttons-container {
    margin-top: 80px;
  }
}
