.pokemon-details {
	min-height: 320px;
  min-width: 350px;
	background-color: #FFFFFF;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	transition: box-shadow 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.pokemon-details:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.pokemon-details img {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  max-height: 150px;
  width: auto; 
  height: auto;
  object-fit: contain;
}


.pokemon-details h2 {
  margin: 1.2em 0;
  color: #333;
}

.pokemon-details p {
  margin: 0;
  font-weight: bold;
}

/* Estilos para los botones de movimiento basados en el tipo de Pokémon */
.type-normal { background-color: #A8A77A; color: #2C2C2C; }
.type-fire { background-color: #EE8130; color: #FFFFFF; }
.type-water { background-color: #6390F0; color: #FFFFFF; }
.type-electric { background-color: #F7D02C; color: #424242; }
.type-grass { background-color: #7AC74C; color: #1F1F1F; }
.type-ice { background-color: #96D9D6; color: #1A1A1A; }
.type-fighting { background-color: #C22E28; color: #FFFFFF; }
.type-poison { background-color: #A33EA1; color: #FFFFFF; }
.type-ground { background-color: #E2BF65; color: #333333; }
.type-flying { background-color: #A98FF3; color: #262626; }
.type-psychic { background-color: #F95587; color: #FFFFFF; }
.type-bug { background-color: #A6B91A; color: #2B2B2B; }
.type-rock { background-color: #B6A136; color: #212121; }
.type-ghost { background-color: #735797; color: #EDEDED; }
.type-dragon { background-color: #6F35FC; color: #FFFFFF; }
.type-dark { background-color: #705746; color: #EDEDED; }
.type-steel { background-color: #B7B7CE; color: #1C1C1C; }
.type-fairy { background-color: #D685AD; color: #272727; }

.pokemon-move-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si no caben */
  justify-content: center; /* Centra los botones en el contenedor si hay espacio adicional */
  gap: 10px; /* Espacio entre los botones */
}

.pokemon-move-button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pokemon-move-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

