/* Contenedor para centrar el componente */
.combat-status-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px; /* Para asegurar que está al final */
}

/* Estilo del componente .combat-status */
.combat-status {
  height: 200px;
  overflow-y: auto;
  width: 800px;
  background-color: #f9f9f991;
  padding: 10px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: 'Arial', sans-serif;
}

.combat-status h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.combat-status p {
  margin: 10px 0;
  padding: 8px;
  background-color: #ffffff;
  border-left: 5px solid #4CAF50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
}

.log-title {
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .combat-status {
    width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: none;
  }

  .combat-status h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .combat-status p {
    font-size: 12px;
    padding: 6px;
  }
}
