.team-display {
	margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.team-display button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
	margin: 3px;
  color: white;
  transition: background-color 0.3s;
}

.team-display button:hover {
  background-color: #43a047;
}

.team-display button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.team-display img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 10px;
  object-fit: contain;
}

