.navbar {
  background-color: #e26464;
  width: 90px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.336));
  border-radius: 0 10px 10px 0;
  transition: transform 0.3s ease;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar ul li {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar ul li .navbar-logo-image {
  width: 80px;
  height: 80px;
  padding: 10px;
  filter: drop-shadow(0 0 1px #000000);
}

.navbar ul li .navbar-image {
  width: 35px;
  height: 35px;
  padding: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar ul li .navbar-image:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px #000000ad);
}

.main-content {
  margin-left: 100px;
  padding: 20px;
}

.main-content.full-width {
  margin-left: 0;
  padding: 0;
}

/* Estilos adicionales para el toggle en dispositivos móviles */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding-left: 90%;
  width: 12px;
  height: 12px;
  z-index: 1000;
}

.navbar-toggle img {
  height: 50px;
  width: 50px;
} 

@media (max-width: 768px) {
  .navbar {
    transform: translateX(-100%);
  }

  .navbar.open {
    transform: translateX(0);
  }

  .navbar-toggle {
    display: block;
  }

  .main-content {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .navbar {
    transform: translateX(-100%);
  }

  .navbar.open {
    transform: translateX(0);
  }

  .navbar-toggle {
    display: block;
  padding-left: 83%;
  }

  .main-content {
    margin-left: 0;
  }
}
